@model Department

@{
    ViewData["Title"] = "Department Details";
}

<h1>Department Details</h1>

<br />
<br />
 
<div>

    <partial name="PartialViews/_DetailsDeleteCommoCode" />


    <a class="btn btn-primary" asp-action="Update" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-light"  asp-action="Index" >Back To Home</a>


</div>
