@model EmpViewModel
@{
    ViewData["Title"] = "Create";
    
}

<h1>Create New Employee</h1>

<br />
<br />
<br />
<form asp-action="Create">
    <partial name="PartialViews/_CreateUpdateCommonCodeInEmp"/>

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-primary"> Back To Index</a>

</form>




