@model Employee

@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>

<br />
<br />

<div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" readonly />

    </div>



    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" readonly />



    </div> <div class="form-group">
        <label class="col-form-label" asp-for="Age"></label>
        <input class="form-control" asp-for="Age" readonly />
    </div>


    <div class="form-group">
        <label class="col-form-label" asp-for="Salary"></label>
        <input class="form-control" asp-for="Salary" readonly />
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
        <input class="form-control" asp-for="Address" readonly />
    </div>


    <div class="form-group">
        <label class="col-form-label" asp-for="Gender"></label>
        <input class="form-control" asp-for="Gender" readonly />
    </div>



    <div class="form-group">

        <input class="form-check-input" asp-for="IsActive" readonly />
        <label class="col-form-label" asp-for="IsActive"></label>


    </div>


    <div class="form-group">
        <label class="col-form-label" asp-for="HiringDate"></label>
        <input class="form-control" asp-for="HiringDate" readonly />

    </div>


    <a class="btn btn-primary" asp-action="Update" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-light" asp-action="Index">Back To Home</a>


</div>

