@model EmpViewModel
@{
    ViewData["Title"] = "Update Employee";
}

<h1>Edit Employee</h1>
<br />
<br />
<br />


<form asp-action="Update">

    @* <div asp-validation-summary="ModelOnly"  class="text-danger"></div>  *@

    <partial name="PartialViews/_CreateUpdateCommonCodeInEmp" />

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light"> Cancel</a>
</form>


